.WhyMasarra {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("/images/image2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.WhyMasarra > h1 {
  font-size: 4rem;
  font-weight: bold;
  z-index: 3;
}
.WhyMasarra > p {
  font-size: 2.5rem;
  z-index: 3;
}
.WhyMasarra_content {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  z-index: 3;
}
.WhyMasarra_item {
  width: 20%;
  /* glass effect */
  background: rgba(255, 255, 255, 0.12); /* شفافية */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 18px;

  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    inset 0 0 10px rgba(255, 255, 255, 0.15);

  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}
.WhyMasarra_item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.WhyMasarra_item > svg {
  font-size: 2rem;
}
.WhyMasarra_item > p {
  font-size: 1.2rem;
  text-align: center;
}
.overlay {
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}
@media screen and (max-width: 789px) {
  .WhyMasarra_content {
    margin-top: 0.5rem;
    flex-wrap: wrap;
    padding: 10px;
  }
  .WhyMasarra_item {
    width: 45%;
    padding: 10px;
    height: 120px;
  }
  .WhyMasarra > h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .WhyMasarra > p {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 10px;
  }
  .WhyMasarra_item > p {
    font-size: 1rem;
  }
  .WhyMasarra_item > svg {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .WhyMasarra_content {
    width: min(100% - (var(--container-gutter) * 2), var(--container-max));
  }
  .WhyMasarra_item {
    width: 24%;
  }
  .WhyMasarra_item > p {
    font-size: 1.6rem;
  }
}
